:root {
    --global-font-size: 15px;
    --global-line-height: 1.4em;
    --background-color: #222225;
    --font-color: #e8e9ed;
    --invert-font-color: #222225;
    --primary-color: #62c4ff;
    --secondary-color: #a3abba;
    --tertiary-color: #a3abba;
    --error-color: #ff3c73;
    --progress-bar-background: #3f3f44;
    --progress-bar-fill: #62c4ff;
    --font-stack: Menlo, Monaco, Lucida Console, Libera;
    --input-style: solid;
    font-family: Algerian;
}